// /**************************************************
// Generel variables for framework
// ***************************************************/

// Getting fonts

// Imports are now handled by font-magician
// @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');



//navigation
// $nav-height: px2rem(100px);

$gridcontainer-exists: true;

$debug: false;

// Brand colors.
$color-brand: (
  gt: #5979C5,
  mg: #901F93,
  dm: #79A92C,
  wu: #DC383D
);

@function color-brand($key) {
  @return map-get($color-brand, $key);
}

// Light colors.
$color-light: (
  1: #E0E0E0,
  2: #F5F5F5,
  3: #FAFAFA,
  4: #FFFFFF
);

@function color-light($key: 3) {
  @return map-get($color-light, $key);
}

// Dark colors.
$color-dark: (
  1: #000000,
  2: #212121,
  3: #303030,
  4: #424242
);

@function color-dark($key: 3) {
  @return map-get($color-dark, $key);
}

// Color theme.
$color-theme: (
  1: #191A1D,
  2: #202125,
  3: #32333B,
  4: #0EBEFF
);

@function color-theme($key) {
  @return map-get($color-theme, $key);
}

@font-face {
    font-family: 'Frutiger Light';
    src:    
    // url('myfont.woff2') format('woff2'),
    url('../fonts/FrutigerLTStd-Light.woff') format('woff');
}

@font-face {
    font-family: 'Frutiger Black';
    src:    
    // url('myfont.woff2') format('woff2'),
    url('../fonts/FrutigerLTStd-UltraBlack.woff') format('woff');
}

/*
Root vars. STANDARD FONTS AND COLORS 
*/
// :root {
//     // /* FONTS AND FALLBACKS */
    
    
//     // /* Calculation */
//     // --respaonsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 100px) / (1200 - 100))); /* Ranges from 421px to 1199px */
// }
