@import 'vendor/include-media';
@import 'vars';
@import 'abstracts/mixins/grid';
// @import 'abstracts/functions/'
// @import 'vendor/normalize8-not-sass';

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Frutiger Light';
    // overflow: hidden;
}



@import 'main-grid';
@import 'media-section';

